{% extends 'base.html.twig' %}

{% block title %}what2play{% endblock %}

{% block body %}
    <h2>
        Create lists of games
    </h2>
    <p>
        Let your friends join and determine the next title to be conquered!
    </p>
{% endblock %}
